<h1>Lista los tipos de comida <i class="fas fa-utensils"></i></h1>
<br>
<%= link_to 'Nuevo tipo de comida', nuevo_tipo_comida_path %>
<br>
<table class="table table-hover">
    <tr>
        <th>Número</th>
        <th>Comida</th>
        <th>Opciones</th>
    </tr>
    <% @todos_los_tipos.each do |tipo_comida| %>
        <tr>
            <td> <%= tipo_comida.id %> </td>
            <td>
                <%= link_to tipo_comida_path(tipo_comida) do %>
                    <%= tipo_comida.tipo %>
                <% end %>
            </td>
            <td>
                <%= link_to tipo_comida_path(tipo_comida), method: :delete, data: { confirm: '¿Está seguro que quiere eliminar el registro?' } do %>
                    Borrar 
                <% end %>
                <%= link_to editar_tipo_comida_path(tipo_comida) do %>
                     Editar
                <% end %>
            </td>
        </tr>
    <% end %>
</table>