<h1>Lista los tipos de puntaje</h1>
<br>
<%= link_to 'Crear nuevo puntaje', nuevo_puntaje_path %>
<br>
<table>
    <tr>
        <th>id</th>
        <th>tipo</th>
        <th>acciones</th>
    </tr>
    <% @tipos_puntajes.each do |puntaje| %>
        <tr>
            <td> <%= puntaje.id %> </td>
            <td>
                <%= link_to nuevo_puntaje_path(puntaje) do %>
                    <%= puntaje.tipo %>
                <% end %>
            </td>
            <td>
                <%= link_to puntajes_path(puntaje), method: :delete, data: { confirm: '¿Está seguro que quiere eliminar el registro?' } do %>
                    Borrar
                <% end %>
                <%= link_to editar_puntaje_path(puntaje) do %>
                    Editar
                <% end %>
            </td>
        </tr>
    <% end %>
</table>